{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- About-->
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">Welcome to GroupWork!</div>
            <div class="masthead-heading text-uppercase">Unfortunately this is for homework...</div>
        </div>
        <ul class="form-control" id="exampleFormControlSelect1">
            {% for sName in assignments %} 
            <option>{{ sName }}</option> 
            {% endfor %}
        </ul>
    </header>
{% endblock %}